.auto-style1 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	color: #008080;		
}
.auto-style2 {
	border: 1px solid #008080;
	border-radius: 5px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
}
.error {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	color: #FF0000;		
}
.totals {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	color: #008080;
    border:1px solid gray;
    padding-left: 20px;	
}

.box-shadow {
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  box-shadow: 5px 10px #888888;
}
.roundedTotal {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 50px;
	color: #008080;
}
