.calcButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Trebuchet MS", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.calcButton:hover {background-color: #3e8e41}

.calcButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.resetButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Trebuchet MS", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff0000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.resetButton:hover {background-color: #e60000}

.resetButton:active {
  background-color: #e60000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}